* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


.reservation-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}


.form-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
}


.form-input:focus {
    border-color: #4CAF50;
    background-color: #fff;
    outline: none;
}


.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #45a049;
}


.back-link {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
    margin-top: 20px;
}

.back-link:hover {
    text-decoration: underline;
}

.alert {
    padding: 15px;
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin-bottom: 20px;
}

.alert p {
    margin: 0;
}

.submit-btn
{
	align-self: center;
}
