<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editează Plata</title>
    <link rel="stylesheet" href="/css/payment-add.css">
</head>
<body>
    <h1>Editează Plată</h1>
		<form th:action="@{/payments/edit/{id}(id=${payment.paymentId})}" th:object="${payment}" method="post">
    <label for="amount">Suma:</label>
    <input type="number" id="amount" name="amount" th:field="*{amount}" required>
    <br><br>

    <label for="paymentMethod">Metoda de plată:</label>
    <input type="text" id="paymentMethod" name="paymentMethod" th:field="*{paymentMethod}" required>
    <br><br>

    <label for="status">Status:</label>
    <select id="status" name="status" th:field="*{status}">
        <option value="Pending">Pending</option>
        <option value="Completed">Completed</option>
        <option value="Failed">Failed</option>
    </select>
    <br><br>

    <label for="paymentDate">Data plății:</label>
    <input type="date" id="paymentDate" name="paymentDate" th:field="*{paymentDate}" required>
    <br><br>

    <label for="event">Eveniment:</label>
    <select id="event" name="eventId">
        <option th:each="event : ${events}" th:value="${event.eventId}" th:text="${event.title}"></option>
    </select>
    <br><br>

    <label for="user">Utilizator:</label>
    <select id="user" name="userId">
        <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.name}"></option>
    </select>
    <br><br>

    <button type="submit">Salveaza</button>
    <a href="/payments">Anuleaza</a>
</form>

</body>
</html>
